<nav class="navbar navbar-inverse">
    <div class="" style="padding:10px;">
          <ul class="nav navbar-nav">
            <li >
                <a href="#" data-toggle="modal" data-target="#apply">Apply</a>    
            </li>

            <li>
                <a href="#" data-toggle="modal" data-target="#scedule">Schedule a Tour</a>  
            </li>

            <li >
                <a routerLink="">
                    Share
                </a>
            </li>
            </ul>
            </div>
            </nav>




            <div id="apply" class="modal fade" role="dialog">
                <div class="modal-dialog">
                          <div class="modal-content" style="background-color:transparent;border:none;">
                              <div class="modal-body">
                                   <app-apply-apartment></app-apply-apartment>
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>
              
                  <div id="scedule" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                                    <div  class="modal-content">
                                        <div class="modal-body">
                                        <app-request-tour></app-request-tour>
                                        </div>
                                    </div>
                                </div>
                            </div>


                          