<button class="sidebar-toggle" data-toggle="collapse" aria-expanded="true" data-target="#map-sidebar">
    <i class="fa fa-bars" aria-hidden="true"></i>
</button>

<div class="" id="map-sidebar" class="collapse show" aria-expanded="true">
    <div class="row side-item">
        <div class="col-sm-12">
            <h3>Please complete your
                <br/> application by following the
                <br/> prompts to the right.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>400 East 78th Street, Apt. 7C</h3>
            <p>New York, NY, 10075 | Upper East Side</p>
        </div>
    </div>
    <div class="row">
        <ul>
            <li>
                <a routerLink="overview">Overview</a>
                <!-- <i class="fa fa-circle-o" aria-hidden="true"></i> -->
            </li>
            <li>
                    <a routerLink="application">Application</a>
            </li>
            <li>
                    <a routerLink="guarantor">Guarantor</a>
            </li>
            <li>
                    <a routerLink="financing">Financing</a>
            </li>
            <li>
                    <a routerLink="documents">Documents</a>
            </li>
            <li>
                    <a routerLink="submit">Submit</a>
            </li>
        </ul>

    </div>
</div>

