.listing-container {
    margin-left: 70px;
    margin-top: 30px;
    float: left;
    border: 1px solid #8E4DAE;
    padding: 15px 0px 15px 0px;
}

.listing-container .img-container {
    float: left;
    margin-left: 12px;
    padding: 0px;
}

.listing-container .rent {
    font-size: 25px;
    font-weight: bold;
    color: #13955E;
}

.listing-container .img-container .img-thumbnail {
    padding: 10px 2px 10px 2px;
    margin-left: 3px;
    min-width: 150px;
    max-width: 150px;
    border: 0px;

}

.listing-container .save-listing-icon {

    width: 20px;
    height: 20px;
    margin-left: 75px;
    margin-top: -6px;
}

.listing-container .img-container .address {
    font-size: 20px;
    color: black;
    clear: left;
    text-align: left;
}

.listing-container .content {
    font-size: 16px;
    color: black;
}

hr {
    border-color: #8E4DAE;
    margin-left: 7px;
    margin-right: 7px;
}

.listing-container .footer-content-heading {
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-align: center;
}

.listing-container .footer-content-content {
    font-weight: bold;
    font-size: 14px;
    color: black;
}
button{
    background-color: #35AB7F;
    border: none;
    color: #fff;
    border-radius: 0;
    margin: 0;
    padding: 5px 30px 5px 30px; float: left;
}
.listing-container .view-list{
    float: left; font-size: 14px; padding: 5px 30px 5px 30px;
}
