<div class="col-lg-9" style="margin-left: 333px;">

    <div class="col-lg-5 listing-container">
        <div class="col-lg-5 img-container">
            <img class="img-thumbnail"
                 src="http://104.239.169.23/assets/img/Stock%20Images%20_%20Floorpans/1/Featured Image.jpeg">
        </div>
        <div class="col-lg-6" style="float: left; margin-left: 20px;">
            <div class="rent">$3200
                <img src="http://104.239.169.23/assets/img/selected.png" class="save-listing-icon">
            </div>

            <div class="address">
                179 E 78th Street
            </div>

        </div>
        <div style="clear: both"></div>
        <hr>

        <div class="col-lg-12 row ">
            <div class="col-lg-4 footer-content-heading">Commute
            </div>


            <div class="col-lg-4 footer-content-heading">Financing
                Approx :
            </div>
            <div class="col-lg-4 footer-content-heading">Guarantor
                Req.
            </div>

        </div>

        <div class="col-lg-12 row clearfix text-center">
            <div class="col-lg-4 footer-content-content">17 min</div>

            <div class="col-lg-4 footer-content-content">$2150 p/m
            </div>
            <div class="col-lg-4 footer-content-content"
            >Yes
            </div>

        </div>
        <hr>

        <div class="col-lg-12">
            <div class="col-lg-12">

                <b style="border-bottom:1px solid;">Status</b>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-3" style="float: left; padding: 10px 0px 10px 0px;">
                    <b>Incomplete</b>
                </div>
                <div class="col-lg-9 view-list"  style="float: left">
                    <button type="submit">Continue Application
                    </button>

                </div>

            </div>

        </div>

    </div>
    <div class="col-lg-5 listing-container">
        <div class="col-lg-5 img-container">
            <img class="img-thumbnail"
                 src="http://104.239.169.23/assets/img/Stock%20Images%20_%20Floorpans/1/Featured Image.jpeg">
        </div>
        <div class="col-lg-6" style="float: left; margin-left: 20px;">
            <div class="rent">$3200
                <img src="http://104.239.169.23/assets/img/selected.png" class="save-listing-icon">
            </div>

            <div class="address">
                179 E 78th Street
            </div>

        </div>
        <div style="clear: both"></div>
        <hr>

        <div class="col-lg-12 row ">
            <div class="col-lg-4 footer-content-heading">Commute
            </div>


            <div class="col-lg-4 footer-content-heading">Financing
                Approx :
            </div>
            <div class="col-lg-4 footer-content-heading">Guarantor
                Req.
            </div>

        </div>

        <div class="col-lg-12 row clearfix text-center">
            <div class="col-lg-4 footer-content-content">17 min</div>

            <div class="col-lg-4 footer-content-content">$2150 p/m
            </div>
            <div class="col-lg-4 footer-content-content"
            >Yes
            </div>

        </div>
        <hr>

        <div class="col-lg-12">
            <div class="col-lg-12">

                <b style="border-bottom:1px solid;">Status</b>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-3" style="float: left; padding: 10px 0px 10px 0px;">
                    <b>Approved</b>
                </div>
                <div class="col-lg-9 view-list"  style="float: left">
                    <button type="submit">See Pending Leases
                    </button>

                </div>

            </div>

        </div>

    </div>
    <div class="col-lg-5 listing-container">
        <div class="col-lg-5 img-container">
            <img class="img-thumbnail"
                 src="http://104.239.169.23/assets/img/Stock%20Images%20_%20Floorpans/1/Featured Image.jpeg">
        </div>
        <div class="col-lg-6" style="float: left; margin-left: 20px;">
            <div class="rent">$3200
                <img src="http://104.239.169.23/assets/img/selected.png" class="save-listing-icon">
            </div>

            <div class="address">
                179 E 78th Street
            </div>

        </div>
        <div style="clear: both"></div>
        <hr>

        <div class="col-lg-12 row ">
            <div class="col-lg-4 footer-content-heading">Commute
            </div>


            <div class="col-lg-4 footer-content-heading">Financing
                Approx :
            </div>
            <div class="col-lg-4 footer-content-heading">Guarantor
                Req.
            </div>

        </div>

        <div class="col-lg-12 row clearfix text-center">
            <div class="col-lg-4 footer-content-content">17 min</div>

            <div class="col-lg-4 footer-content-content">$2150 p/m
            </div>
            <div class="col-lg-4 footer-content-content"
            >Yes
            </div>

        </div>
        <hr>

        <div class="col-lg-12">
            <div class="col-lg-12">

                <b style="border-bottom:1px solid;">Status</b>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-12" style="float: left; padding: 10px 0px 10px 0px;">
                    <b>Awaiting Landlord Response</b>
                </div>

            </div>

        </div>

    </div>
</div>
