.signup-popup{
    background-color: white;
    border-color: purple!important;
    border-radius: 0.5em!important;
    border-width: 1.5px!important;
    height: auto;
    padding-top: 0%!important;
    padding-left: 0em!important;
    width: 663px!important;
}
.btn{
    background-color: #675794;
    border: none;
    color: #fff;
    border-radius: 0;
    margin: 0;
    padding: 10px 20px;
    font-size: 13px;
}
