<div class="container" style="box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2)!important;">
    <div class="icon-close">
            <a>
                <i class="fa fa-close" data-dismiss="modal" #closeBtn></i>
            </a>
        </div>
        <h3 class="text-center">Schedule a Tour $25.00</h3>

        <h3 class="text-center">Please let us know the availability</h3>
        <textarea style="border: 2px solid #e6e0e0; background-color:#f5f5f5" cols="45" rows="7" ></textarea>
        <p>You will receive an email confirming your schedule time.</p>
        <div class="col-md-12 text-center"> 
        <button type="button" class="btn btn-success btn-lg btn-custom">Checkout</button>
        </div>
    </div>
