<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>Congratulations on finding an apartment! Please find an overview of application process below. Please answer
                the questions below to see what your total due at signing will be.</p>
            <h3>Soft Credit Check</h3>
            <h4>Transunion Fee $25.00</h4>
            <p>(*This fee allow you to submit up to a applications on affordable city)</p>
            <hr/>
        </div>
        <div class="col-sm-12">
            <h3>Guarantor</h3>
            <p>You will need a guarantor for this application as you do not meet the salary requirements.</p>
            Yes
            <input type="radio" name="yes_no"> No
            <input type="radio" name="yes_no">
            <p>Would you like to use us as an guarantor?</p>
            Yes
            <input type="radio" name="yes_no"> No
            <input type="radio" name="yes_no">
            <p>if no please enter your guarantors email address below to invite them to the application.</p>
            <input type="text" placeholder="Guarantor Name">
            <input type="text" placeholder="Guarantor Email Address">
            <hr/>
            <h3>Roomates</h3>
            <p>Will you have any roomates?</p>
            <div class="row">
                Yes
                <input type="radio" name="yes_no"> No
                <input type="radio" name="yes_no">
            </div>
            <div class="row">
                <input type="text" placeholder="Roomate Name">
                <input type="text" placeholder="Roomate Email Address">
            </div>
            <div class="row" style="margin-top:20px;">
              <div class=""><i class="fa fa-plus fa-2x" aria-hidden="true"></i></div>  
           
            <div class="col-sm-4">
                add additional roomates?
            </div>
        </div>
        <hr/>
    </div>
    
    </div>
    <hr>
    <h3>Financing Options</h3>
    <p>Would you like financing? Please see a estimated breakdown below:</p>
    <strong>Payment due at lease signing without financing:</strong>
    <div class="col-md-3">
        <p>First Months Rent: $2,000</p>
        <p>Last Months Rent: $2,000</p>
        <p>Security Deposit: $2,000</p>
        <hr/>
        <strong>Total: $6000</strong>
    </div>
    <strong>Payment due at lease signing with financing: $0</strong>
    <p>Estimated monthly rent payments with financing: $2,200</p>
    <p>
        <strong>I want financing:</strong>
    </p>
    Yes
    <input type="radio" name="yes_no"> No
    <input type="radio" name="yes_no">
    <hr/>
    <h3>Affordable.City</h3>
    <p>Typical brokers fees ranges from 1 months rent to 15% of the annual rent. Building application fee ranges from $150 to
        $250. We have provided a breakdown of your savings below by using Affordable.City!
    </p>

    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    One month Rent:
                </div>
                <div class="col-sm-2">
                    <p class="text-right"> $2000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Application Fee:
                </div>
                <div class="col-sm-2">
                    <p class="text-right"> $150 </p>
                </div>
            </div>
            <hr align="left" class="calc">
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-right" style="margin-right: 40px;">
                        <strong>Total: </strong>
                    </p>
                </div>
                <div class="col-sm-2 total">
                    $2150
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Affordable.City:
                </div>
                <div class="col-sm-2">
                    <p class="text-right"> $250 </p>
                </div>
            </div>
            <hr align="left" class="calc">
            <div class="row">
                <div class="col-sm-6">
                    <strong>Savings: </strong>
                </div>
                <div class="col-sm-2 total">
                    $2150
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    One month Rent:
                </div>
                <div class="col-sm-2">
                    <p class="text-right"> $2000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Application Fee:
                </div>
                <div class="col-sm-2">
                    <p class="text-right"> $150</p>
                </div>
            </div>
            <hr class="calc" align="left">
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-right" style="margin-right: 40px;">
                        <strong>Total: </strong>
                    </p>
                </div>
                <div class="col-sm-2">
                    <p class="text-right total"> $2150</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Affordable.City:
                </div>
                <div class="col-sm-2">
                    <p class="text-right"> $250 </p>
                </div>
            </div>
            <hr align="left" class="calc">
            <div class="row">
                <div class="col-sm-6">
                    <strong>Savings: </strong>
                </div>
                <div class="col-sm-2 total">
                    $2150
                </div>
            </div>
        </div>
    </div>
    <div class="row btn-overview">

        <button type="button" class="btn btn-primary btn-lg btn-block btn-sx">Countinue to Application & Save!</button>
    </div>



</div>