.total{
    color:rgb(22, 182, 142);
    font-weight: 700;
}
.col-sm-4{
    line-height: 18px;
}
.calc{
    width: 67%;
    margin: 0;
}
.btn-overview{
    padding: 20px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(22, 182, 142);
    color:#fff;
    font-size: 20px;
    border: none;
    border-radius: 0;
}
.fa-plus{
    color:rgb(22, 182, 142);
    font-weight: 400
}