<div class="container" style="box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2)!important;">
        <div class="icon-close">
                <a>
                    <i class="fa fa-close" data-dismiss="modal" #closeBtn></i>
                </a>
            </div>
            <h3 class="text-center">Schedule a Tour</h3>
    
            <h3 class="text-center">Checkout</h3>
            <div class="row" style="background:#ece7e7; width:384px; height:100px; margin-bottom:10px;">

            </div>
            <div class="col-md-12 text-center"> 
            <button type="button" class="btn btn-success btn-lg btn-custom">Pay $25</button>
            </div>
        </div>
    